
<div  class="flex flex-col px-40 mt-40 ">
    <div>{{isEdit}}</div>
    @if(isEdit){<h1>Update Category</h1>}@else{<h1>Add Category</h1>}
    <form action="" class="w-full" >
        <div class="flex flex-wrap w-full">
            <div class="w-full gap-4">
                <mat-form-field class="w-full">
                    <mat-label>
                        Name
                    </mat-label>
                    <input matInput type="text"  [(ngModel)]="name" name="'name">
                </mat-form-field>
            </div>
            <div class="w-full flex justify-center">

                @if(isEdit){<button mat-raised-button color="primary" [disabled]="!name" (click)="update()">Update</button>}@else{<button mat-raised-button color="primary" [disabled]="!name" (click)="add()">Add</button>}

            </div>
        </div>
    </form>
</div>